.Pokecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  margin: 10px;
  border-radius: 5px;
}

.Pokecard-header {
  color: blue;
}

.Pokecard-info {
  color: black;
  font-size: small;
}